.btn{
  color: Black;
  padding: 10px 25px;
  background-color: black;
  border: 2px solid DodgerBlue;
  border-radius: 20px;
  outline: white;
  cursor: pointer;
  font-family= fantasy; 
  font-weight: light;
}

.btn:hover {
  background-color: Transparent;
  color: DarkGoldenRod;
  font-weight: light;
  border: 2px solid Black;
}

.hero{
  width:100%;
  height:100%;
  background-image: url(https://historycms2.house.gov/assets/25769806856.asset);
  background-size: cover;
  background-position: center; 
  position: relative;
  overflow: hidden;
}

.background{
  
}

.backgrounds{
  border: 2px solid Black;
}

.Rob_Rule{
  border: 3px solid white;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
	
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav {
	width:100%;
	height: 75px;
	background-color: black;
}

nav p{
	font-family: Courier New;
	font-size:24px;
	line-height: 55px;
	float: left;
	padding: 0px 20px;
	color:white;
}

nav ul {
	float:left;
}

nav ul li {
	float:left;
	list-style:none;
	position: relative;
	font-family: Brush Script MT;
	color:white;
}

nav ul li:hover {
	color: Red;
}

nav ul li a {
	display: block;
	font-family: Brush Script MT;
	color: white;
	font-size:14px;
	padding: 22px 14px;
	text-decoration: none;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: black;
	padding: 7px;
	border-radius: 0px 0px 8px 8px;
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li {
	width: 180px;
	border-radius: 4px;
}

nav ul li ul li a {
	padding: 8px 14px;
	color:white;
}

nav ul li ul li a:hover {
	background-color: LightGray;
	color: black;
}
borderimg { 
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(https://www.w3schools.com/css/border.png) 30 round;
}
