.btn{
  color: Black;
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid DodgerBlue;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-family= fantasy; 
  font-weight: bold;
}

.btn:hover {
  background-color: DodgerBlue;
  color: DarkGoldenRod;
  font-weight: bold;
  border: 2px solid Black;
}

.hero{
  width:100%;
  height:100%;
  background-image: url(https://historycms2.house.gov/assets/25769806856.asset);
  background-size: cover;
  background-position: center; 
  position: relative;
  overflow: hidden;
}

.background{
  background-color:lightgrey;
  opacity: 0.75;
}
