button{
  color: DarkGoldenRod;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid DarkGoldenRod;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: White;
  color: DarkGoldenRod;
}
