.btn{
  color: DodgerBlue;
  padding: 10px 25px;
  background-color: transparent;
  border: 1px solid DodgerBlue;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: DodgerBlue;
  color: DarkGoldenRod;
}
