.btn{
  color: Black;
  padding: 10px 25px;
  background-color: DodgerBlue;
  border: 2px solid DodgerBlue;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-family= fantasy; 
  font-weight: bold;
}

.btn:hover {
  background-color: Transparent;
  color: DarkGoldenRod;
  font-weight: bold;
  border: 2px solid Black;
}

.hero{
  width:100%;
  height:100%;
  background-image: url(https://historycms2.house.gov/assets/25769806856.asset);
  background-size: cover;
  background-position: center; 
  position: relative;
  overflow: hidden;
}

.background{
  
}

.backgrounds{
  border: 2px solid Black;
}

.Rob_Rule{
  border: 3px solid white;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #555;
	border-bottom: 25px solid transparent;
	
}

